.pokedex {
  text-align: center;
}

.pokedex-title {
  color: darkgray;
}

.pokedex-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}
